body{
    font-family: "Arial LatArm";
    background-color: ghostwhite;
}
#grak{
    margin-top:180px;
    border:0.5px solid darkslategray;
    padding-top:40px;
    box-shadow: 4px 10px 2px gray;
}
#imp{
    display: flex;
    justify-content: center;
    color:red;
    font-weight: bold;

}
#fi{
    display: flex;
    justify-content: center;
    color:gray;
}
#grak_ul{
    list-style: armenian;

}
#carusel{
    height:800px;
}
#car_row{
    height:700px;
    display: flex;
}
#book{
    color:lightseagreen;
}
@media screen and (max-width:992px){

}
